* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  background-color: white;
  display: flex;
  flex-direction: column;
  align-items: center;     
  justify-content: center;
  width: 50%;
  margin: 0 auto;
  box-shadow: 0 4px 8px 0 gray;
  padding: 20px;
  gap: 20px;
  border-radius: 40px;
}

img {
  width: 40%;
  max-width: 300px;
  height: auto;
  border-radius: 12px;
}

.titulo {
  text-align: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #000;
}

.links {
  display: flex;
  flex-direction: column;
  gap: 7px;
  flex-wrap: wrap;
  justify-content: center;
  width: 60%;
  text-align: center;
}

a {
  width: 145px;
  border: none;
  border-radius: 12px;
  padding: 8px 20px;
  text-decoration: none;
  color: white;
  background-color: #616161;
  font-weight: bold;
  font-size: small;
  transition: 0.3s;
}

a:hover {
  background-color: #929292;
  transform: scale(1.05);
}

label {
  font-size: larger;
  font-weight: bold;
  text-decoration: underline;
}

input {
  border: 2px solid #0a66c2;
  border-radius: 8px;
  height: 35px;
}

input:focus {
  outline: 1px solid #0b74dd;
  border-color: #0b74dd;
}

.align {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
}

button {
  border: none;
  border-radius: 12px;
  width: 145px;
  padding: 8px 20px;
  background-color:#084a8f;
  color: white;
  cursor: pointer;
  transition: 0.3s;
}

button:hover {
  background-color:#0a66c2;
  transform: scale(1.05);
}